<h1 
    style="font-family: 'Courier New', Courier, monospace; 
    font-size:60px;
    text-align: center;">
    QUIZ F
</h1>

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercises 01:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
Complete the following function (containing only one instruction starting with return) so that it returns True if n is even and False otherwise.
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(is_even(-1))</td>
            <td>False</td>
        </tr>
        <tr>
            <td>print(is_even(0))</td>
            <td>True</td>
        </tr>
        <tr>
            <td>print(is_even(111))</td>
            <td>False</td>
        </tr>
        <tr>
            <td>print(is_even(100))</td>
            <td>True</td>
        </tr>
    </tbody>
</table>

In [1]:
def is_even(n: int):
    return n % 2 == 0

data = [-1, 0, 111, 100]

for d in data:
    print(is_even(d))

False
True
False
True

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercises 02:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
The following table represents the tariffs to rent a car
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Time</th>
            <th>24 hours</th>
            <th>2 days</th>
            <th>3 days</th>
            <th>4 days</th>
            <th>Every extra day</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Euro</td>
            <td>39.99</td>
            <td>79.99</td>
            <td>120</td>
            <td>160</td>
            <td>40</td>
        </tr>
    </tbody>
</table>
<p style="font-family: 'Courier New', Courier, monospace;">
Write a function rent(days) that takes an integer number of days of rent and computes the total cost.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
The function always returns a float (if days &lt; 1, return 0.0).
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(rent(-2))</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>print(rent(0))</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>print(rent(1))</td>
            <td>39.99</td>
        </tr>
        <tr>
            <td>print(rent(2))</td>
            <td>79.99</td>
        </tr>
        <tr>
            <td>print(rent(3))</td>
            <td>120.0</td>
        </tr>
        <tr>
            <td>print(rent(4))</td>
            <td>160.0</td>
        </tr>
        <tr>
            <td>print(rent(5))</td>
            <td>200.0</td>
        </tr>
        <tr>
            <td>print(rent(10))</td>
            <td>400.0</td>
        </tr>
    </tbody>
</table>

In [7]:
extra_day = 40
defined_days = {
    1: 39.99,
    2: 79.99,
    3: 120,
    4: 160,
}

def rent(days: int) -> float:
    if days in defined_days:
        return float(defined_days[days]) 
    else:
        return float(defined_days[3] + (days - 3) * extra_day) if days > 0 else float(0)
    
data = [-2, 0, 1, 2, 3, 4, 5, 10]

for d in data:
    print(rent(d))

0.0
0.0
39.99
79.99
120.0
160.0
200.0
400.0

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercise 03:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
Write a function length_multiple(s,n) that takes a string and an integer and returns True if the length of the string is multiple of the integer, and False otherwise.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(length_multiple("Cremona", 5))</td>
            <td>False</td>
        </tr>
        <tr>
            <td>print(length_multiple("Cremona", 7))</td>
            <td>True</td>
        </tr>
        <tr>
            <td>print(length_multiple("Python", 3))</td>
            <td>True</td>
        </tr>
        <tr>
            <td>print(length_multiple("Cremona", 1))</td>
            <td>True</td>
        </tr>
        <tr>
            <td>print(length_multiple("Python", 0))</td>
            <td>False</td>
        </tr>
        <tr>
            <td>print(length_multiple("", 0))</td>
            <td>False</td>
        </tr>
        <tr>
            <td>print(length_multiple("", 42))</td>
            <td>True</td>
        </tr>
        <tr>
            <td>print(length_multiple("Ciao", -2))</td>
            <td>True</td>
        </tr>
    </tbody>
</table>

In [5]:
import pandas as pd

def length_multiple(s: str, n: int) -> bool:
    return len(s) % n == 0 if n != 0 else False

data = [
    ("Cremona", 5, False),
    ("Cremona", 7, True),
    ("Python", 3, True),
    ("Cremona", 1, True),
    ("Python", 0, False),
    ("", 0, False),
    ("", 42, True),
    ("Ciao", -2, True),
]

de = pd.DataFrame(data, columns=["s", "n", "expected"])
de["result"] = de.apply(lambda x: length_multiple(x["s"], x["n"]), axis=1)
de["accurate"] = de["expected"] == de["result"]
print(de)

         s   n  expected  result  accurate
0  Cremona   5     False   False      True
1  Cremona   7      True    True      True
2   Python   3      True    True      True
3  Cremona   1      True    True      True
4   Python   0     False   False      True
5            0     False   False      True
6           42      True    True      True
7     Ciao  -2      True    True      True

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercise 04:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
Write a function solve_linear(a,b) that takes two floats a and b and solves the linear equation ax+b=0.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
If the equation is inconsistent, return the string inconsistent, while if it has infinite solutions, the string infinite
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(solve_linear(5,2.5))</td>
            <td>-0.5</td>
        </tr>
        <tr>
            <td>print(solve_linear(0,0))</td>
            <td>infinite</td>
        </tr>
        <tr>
            <td>print(solve_linear(0,3.14))</td>
            <td>inconsistent</td>
        </tr>
    </tbody>
</table>

In [16]:
from typing import Union

def solve_linear_possible(a: float, b: float) -> float:
    return -b / a

def solve_linear_infinite(a: float, b: float) -> str:
    return "infinite"

def solve_linear_inconsistent(a: float, b: float) -> str:
    return "inconsistent"

def solve_linear(a: float, b: float) -> Union[float, str]:
    # ax + b = 0
    # x = -b/a
    # Possible returns:
    # 1. If possible (5, 2.5): return the solution (-0.5)
    # 2. If infinite solutions (0, 0): return int("infinite")
    # 3. If is inconsistent (0, 3.14): return int("inconsistent")
    if a == 0 and b == 0:
        return solve_linear_infinite(a, b)
    elif a == 0:
        return solve_linear_inconsistent(a, b)
    else:
        return solve_linear_possible(a, b)
    
data = [
    (5, 2.5, -0.5),
    (0, 0, "infinite"),
    (0, 3.14, "inconsistent"),
    (0, 0, "infinite"),
    (1, 0, 0),
    (1, 1, -1),
    (2, 3, -1.5),
    (3, 2, -2/3),
]

de = pd.DataFrame(data, columns=["a", "b", "expected"])
de["result"] = de.apply(lambda x: solve_linear(x["a"], x["b"]), axis=1)
de["accurate"] = de["expected"] == de["result"]
print(de)

   a     b      expected        result  accurate
0  5  2.50          -0.5          -0.5      True
1  0  0.00      infinite      infinite      True
2  0  3.14  inconsistent  inconsistent      True
3  0  0.00      infinite      infinite      True
4  1  0.00             0          -0.0      True
5  1  1.00            -1          -1.0      True
6  2  3.00          -1.5          -1.5      True
7  3  2.00     -0.666667     -0.666667      True

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercise 05:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
Write a function solve_quadratic(a,b,c) that takes three floats a, b and c and solves (for real solutions only) the quadratic equation ax<sup>2</sup>+bx+c=0. The function returns a float if there is one solution, two floats for two solutions, and a string in the other cases:
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
If the equation is inconsistent, return the string inconsistent, while if it has infinite solutions, the string infinite. If the discriminant b<sup>2</sup>−4ac&lt;0, returns the string complex.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
If a=0, the program should still work to solve the linear equation bx+c=0.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(solve_quadratic(0,0,0))</td>
            <td>infinite</td>
        </tr>
        <tr>
            <td>print(solve_quadratic(0,0,3))</td>
            <td>inconsistent</td>
        </tr>
        <tr>
            <td>print(solve_quadratic(0,-3.5,7))</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>print(solve_quadratic(1,2,3))</td>
            <td>complex</td>
        </tr>
        <tr>
            <td>print(solve_quadratic(5,6,1))</td>
            <td>(-1.0, -0.2)</td>
        </tr>
    </tbody>
</table>

In [24]:
# a * x ** 2 + b * x + c = 0
from typing import Union

def solve_linear_possible(a: float, b: float) -> float:
    return -b / a

def solve_linear_infinite(a: float, b: float) -> str:
    return "infinite"

def solve_linear_inconsistent(a: float, b: float) -> str:
    return "inconsistent"

def solve_linear(a: float, b: float) -> Union[float, str]:
    if a == 0 and b == 0:
        return solve_linear_infinite(a, b)
    elif a == 0:
        return solve_linear_inconsistent(a, b)
    else:
        return solve_linear_possible(a, b)

def solve_quadratic_delta(a: float, b: float, c: float) -> float:
    return b ** 2 - 4 * a * c

def solve_quadratic_complex(a: float, b: float, c: float) -> float:
    return "complex"

def solve_quadratic(a: float, b: float, c: float) -> Union[float, str]:
    if a == 0:
        return solve_linear(b, c)
    else:
        delta = solve_quadratic_delta(a, b, c)
        if delta < 0:
            return solve_quadratic_complex(a, b, c)
        elif delta == 0:
            return float(-b / (2 * a))
        else:
            x1 = (-b - delta ** 0.5) / (2 * a)
            x2 = (-b + delta ** 0.5) / (2 * a)
            return float(x1), float(x2)


data = [
    (0, 0, 0, "infinite"),
    (0, 0, 3, "inconsistent"),
    (0, -3.5, 7, 2.0),
    (1, 2, 3, "complex"),
    (5, 6, 1, (-1.0, -0.2)),
]

de = pd.DataFrame(data, columns=["a", "b", "c", "expected"])
de["result"] = de.apply(lambda x: solve_quadratic(x["a"], x["b"], x["c"]), axis=1)
de["accurate"] = de["expected"] == de["result"]
print(de)

   a    b  c      expected        result  accurate
0  0  0.0  0      infinite      infinite      True
1  0  0.0  3  inconsistent  inconsistent      True
2  0 -3.5  7           2.0           2.0      True
3  1  2.0  3       complex       complex      True
4  5  6.0  1  (-1.0, -0.2)  (-1.0, -0.2)      True

<h2 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">
    Exercise 06:
</h2>

<p style="font-family: 'Courier New', Courier, monospace;">
    Write a function ticket(age) that takes an integer parameter representing an age and returns a string describing the ticket corresponding to that age.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
    "Free" if age is less than 6<br>
    "Child discount" if age is less or equal 12<br>
    "Full ticket" if age is between 12 and 60 (endpoints excluded)<br>
    "Retirement discount" if age is 60 or more, but no more than 70<br>
    "Free" if age is strictly greater than 70
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(ticket(0))</td>
            <td>Free</td>
        </tr>
        <tr>
            <td>print(ticket(5))</td>
            <td>Free</td>
        </tr>
        <tr>
            <td>print(ticket(6))</td>
            <td>Child discount</td>
        </tr>
        <tr>
            <td>print(ticket(12))</td>
            <td>Child discount</td>
        </tr>
        <tr>
            <td>print(ticket(13))</td>
            <td>Full ticket</td>
        </tr>
        <tr>
            <td>print(ticket(59))</td>
            <td>Full ticket</td>
        </tr>
        <tr>
            <td>print(ticket(60))</td>
            <td>Retirement discount</td>
        </tr>
        <tr>
            <td>print(ticket(70))</td>
            <td>Retirement discount</td>
        </tr>
        <tr>
            <td>print(ticket(71))</td>
            <td>Free</td>
        </tr>
    </tbody>
</table>

In [26]:
import pandas as pd

def ticket(age: int) -> str:
    if age < 6:
        return "Free"
    elif age <= 12:
        return "Child discount"
    elif age < 60:
        return "Full ticket"
    elif age <= 70:
        return "Retirement discount"
    else:
        return "Free"
    
data = [
    (0, "Free"),
    (5, "Free"),
    (6, "Child discount"),
    (12, "Child discount"),
    (13, "Full ticket"),
    (59, "Full ticket"),
    (60, "Retirement discount"),
    (69, "Retirement discount"),
    (70, "Retirement discount"),
    (71, "Free"),
    (100, "Free"),
]

de = pd.DataFrame(data, columns=["age", "expected"])
de["result"] = de.apply(lambda x: ticket(x["age"]), axis=1)
de["accurate"] = de["expected"] == de["result"]
print(de)

    age             expected               result  accurate
0     0                 Free                 Free      True
1     5                 Free                 Free      True
2     6       Child discount       Child discount      True
3    12       Child discount       Child discount      True
4    13          Full ticket          Full ticket      True
5    59          Full ticket          Full ticket      True
6    60  Retirement discount  Retirement discount      True
7    69  Retirement discount  Retirement discount      True
8    70  Retirement discount  Retirement discount      True
9    71                 Free                 Free      True
10  100                 Free                 Free      True


<h2 style="font-family: 'Courier New', Courier, monospace;">
    Exercise 07:
</h2>

<p style="font-family: 'Courier New', Courier, monospace;">
    We want to write a program (not a function!) that takes as input three integers and prints them in descending order (all on the same line, separated by a space, as normally happens if you give 3 values to a print).
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
Attention! The input part has already been written and should not be changed.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
In this specific exercise only, you are allowed to use the print.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
The automatic tests will test the program with different input values.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>

<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Input</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>pass</td>
            <td>3<br>1<br>2</td>
            <td>3 2 1</td>
        </tr>
        <tr>
            <td>pass</td>
            <td>0<br>1<br>565</td>
            <td>565 1 0</td>
        </tr>
        <tr>
            <td>pass</td>
            <td>-10<br>-5<br>-20</td>
            <td>-5 -10 -20</td>
        </tr>
        <tr>
            <td>pass</td>
            <td>3<br>2<br>1</td>
            <td>3 2 1</td>
        </tr>
        <tr>
            <td>pass</td>
            <td>100<br>50<br>75</td>
            <td>100 75 50</td>
        </tr>
    </tbody>
</table>

In [34]:
data = [
    (3, 1, 2),
    (0, 1, 565),
    (-10, -5, -20),
    (3, 2, 1),
    (100, 50, 75)
]

a, b, c = data[0]

numbers = [a, b, c]
ordered = sorted(numbers, reverse=True)
str_ordered = " ".join(map(str, ordered))
#str_ordered = " ".join(str(x) for x in ordered)
print(str_ordered)

3 2 1

In [35]:
data = [
    (3, 1, 2),
    (0, 1, 565),
    (-10, -5, -20),
    (3, 2, 1),
    (100, 50, 75)
]

for triple in data:
    a, b, c = triple
    numbers = [a, b, c]
    ordered = sorted(numbers, reverse=True)
    str_ordered = " ".join(map(str, ordered))
    print(str_ordered)

3 2 1
565 1 0
-5 -10 -20
3 2 1
100 75 50