<h1 
    style="font-family: 'Courier New', Courier, monospace; 
    font-size:60px;
    text-align: center;">
    QUIZ B
</h1>

<h2
    style="font-family: 'Courier New', Courier, monospace;
    font-size:40px;"
    >
    Exercise 01:
</h2>

<hr>

<p style="font-family: 'Courier New', Courier, monospace;">
Write a function <code>distance(a,b)</code> that computes the distance of point (a,b) from origin (0,0) on a plane.
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
You can import the <code>sqrt</code> function with the command <code>from math import sqrt</code>
</p>
<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print('%.13f' % distance(0,0))</td>
            <td>0.0000000000000</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(1,1))</td>
            <td>1.4142135623731</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(1,0))</td>
            <td>1.0000000000000</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(0,1))</td>
            <td>1.0000000000000</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(3,3))</td>
            <td>4.2426406871193</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(-1,6))</td>
            <td>6.0827625302982</td>
        </tr>
        <tr>
            <td>print('%.13f' % distance(-1,-1))</td>
            <td>1.4142135623731</td>
        </tr>
    </tbody>
</table>

In [1]:
def distance(x: float, y: float, x0: float = 0, y0: float = 0) -> float:
    return ((x - x0)**2 + (y - y0)**2)**0.5

In [2]:
points = [
    ( 0, 0),
    ( 1, 1),
    ( 1, 0),
    ( 0, 1),
    ( 3, 3),
    (-1, 6),
    (-1, -1)
]

In [3]:
for point in points:
    x, y = point
    print(f"{distance(x, y):.13f}")

0.0000000000000
1.4142135623731
1.0000000000000
1.0000000000000
4.2426406871193
6.0827625302982
1.4142135623731

<hr>

<h2
    style="font-family: 'Courier New', Courier, monospace;
    font-size:40px;"
    >
    Exercise 02:
</h2>
<p style="font-family: 'Courier New', Courier, monospace;">
Write a function <code>odd(k)</code> that returns 1 if <code>k</code> is odd, 0 if it is even.

</p>

<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(odd(-2))</td>
            <td>0</td>
        </tr>
        <tr>
            <td>print(odd(-1))</td>
            <td>1</td>
        </tr>
        <tr>
            <td>print(odd(0))</td>
            <td>0</td>
        </tr>
        <tr>
            <td>print(odd(1))</td>
            <td>1</td>
        </tr>
        <tr>
            <td>print(odd(2))</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

In [4]:
def odd(k: int) -> int:
    return k % 2

In [5]:
data = [-2, -1, 0, 1, 2]

for number in data:
    print(odd(number))

0
1
0
1
0

<hr>
<h2
    style="font-family: 'Courier New', Courier, monospace;
    font-size:40px;"
    >
    Exercise 03:
</h2>


<p style="font-family: 'Courier New', Courier, monospace;">
Let <code>C</code> be the initial capital of investment. Let <code>r</code> be the interest rate (expressed in decimal, for example 0.03), let <code>n</code> be the number of times the interests will be calculated in each year, let <code>t</code> be the number of years.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
Final capital <code>M</code> (with composite interest) is calculated like
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
<code>M = C(1 + r/n)^(nt)</code>
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
Write a function <code>capital(C, r, n, t)</code> that calculates and returns the value of <code>M</code>.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print('%.13f' % capital(1000, 0.08, 12, 2))</td>
            <td>1172.8879317453095</td>
        </tr>
        <tr>
            <td>print('%.12f' % capital(25000, 0.03, 1, 10))</td>
            <td>33597.909483603056</td>
        </tr>
        <tr>
            <td>print('%.11f' % capital(25000, 0.03, 12, 10))</td>
            <td>33733.83867977062</td>
        </tr>
        <tr>
            <td>print('%.1f' % capital(25000, 0.0, 12, 10))</td>
            <td>25000.0</td>
        </tr>
    </tbody>
</table>

In [6]:
def capital(C: float, r: float, n: int, t: int):
    return C * (1 + r/n) ** (n * t)

In [7]:
data = [
    (13, 1000, 0.08, 12, 2),
    (12, 25000, 0.03, 1, 10),
    (11, 25000, 0.03, 12, 10),
    (1, 25000, 0.0, 12, 10)
]

In [13]:
for d in data:
    a, c, r, n, t = d
    print(f"{capital(c, r, n, t):.{a}f}")

1172.8879317453095
33597.909483603056
33733.83867977062
25000.0

In [9]:
a = 2
price = 3.141592

print(f"{price:.{a}f}")

3.14

<h2
    style="font-family: 'Courier New', Courier, monospace;
    font-size:40px;"
    >
    Exercise 04:
</h2>

<p style="font-family: 'Courier New', Courier, monospace;">
Write a function <code>total_seconds(h, m, s)</code> that computes the total number of seconds present in <code>h</code> hours, <code>m</code> minutes, and <code>s</code> seconds.
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(total_seconds(0,0,0))</td>
            <td>0</td>
        </tr>
        <tr>
            <td>print(total_seconds(0,1,0))</td>
            <td>60</td>
        </tr>
        <tr>
            <td>print(total_seconds(0,0,60))</td>
            <td>60</td>
        </tr>
        <tr>
            <td>print(total_seconds(0,120,0))</td>
            <td>7200</td>
        </tr>
        <tr>
            <td>print(total_seconds(1,1,1))</td>
            <td>3661</td>
        </tr>
    </tbody>
</table>

In [16]:
def total_seconds(h: int, m: int, s: int) -> int:
    return h * 60 ** 2 + m * 60 + s

In [17]:
data = [
    (0, 0, 0),
    (0, 1, 0),
    (0, 0, 60),
    (0, 120, 0),
    (1, 1, 1),
]

for d in data:
    print(total_seconds(*d))

0
60
60
7200
3661

<h2
    style="font-family: 'Courier New', Courier, monospace;
    font-size:40px;"
    >
    Exercise 05:
</h2>

<p style="font-family: 'Courier New', Courier, monospace;">
Write a function <code>vat(price, rate)</code> that calculates the total price (the price augmented with the VAT with the specified rate).
</p>

<p style="font-family: 'Courier New', Courier, monospace;">
For example:
</p>
<table style="font-family: 'Courier New', Courier, monospace;">
    <thead>
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print(vat(1000,22))</td>
            <td>1220.0</td>
        </tr>
        <tr>
            <td>print(vat(15,4))</td>
            <td>15.6</td>
        </tr>
        <tr>
            <td>print(vat(5,10))</td>
            <td>5.5</td>
        </tr>
    </tbody>
</table>

In [21]:
def vat(price: int, rate: int) -> int:
    return round(price * (1 + rate/100), 2)

In [22]:
data = [
    (1000, 22),
    (15, 4),
    (5, 10),
]

for d in data:
    print(vat(*d))

1220.0
15.6
5.5